body {
    font-family: Palatino, Palatino Linotype, serif;
    font-size: 14pt;
    background-color: darkslategray;
    color: white;
}

img {
    margin: 25px;
    height: auto;
    width: 800px;
}

div{
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 250px;
    margin-right: 250px;
}
